body {
    padding-top: 1em;
}

#head-section {
    img {
        height: 373px;
    }
    .btn {
        border-radius: 15px;
        font-size: 1.25em;
    }
}

.port-item {
    width: 30%;
    height: 130px;
    .fa {
        padding-top: 20px;
        font-size: 2em;
    }
}

.port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media(min-width: 576px) {
    width: auto;
    // .port-item {
    //   padding-left: 3em !important;
    // }
}